@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #00ff62;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00ff62 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 1.5rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 12px;
  margin: 7px;
}

.pesquisar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #727272 0 3px 7px inset;
  transform: translateY(2px);
}

.input {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border: 0.5px solid rgb(56, 55, 55);
  box-sizing: border-box;
  color: #36395A;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 1.8rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 12px;
  margin: 7px;
}

.input:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.cardWrap {
  display: flex;
  flex-wrap: wrap;
}

.cardWrap > .card {
  margin: 10px;
  flex: 1 1 200px;
}

.card {
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  background-color: #f3f3f3;
  min-width: 10rem;
  transition-duration:0.2s ;
}

.card:hover{
  transform: translate(0, -2.5px);
}

.card .nome {
  font-weight: bold;
  font-size: 1.5em;
}

.card .criado {
  font-size: 0.8em;
  color: #727272;
}

.button1{
  align-items: center;
  appearance: none;
  background-color: #00ff62;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00ff62 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 1.5rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 12px;
  margin: 7px;
}

.edit{
  background-color: #0044ff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0044ff 0 -3px 0 inset;
}



.edit:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.edit:active {
  box-shadow: #00eeff 0 3px 7px inset;
  transform: translateY(2px);
}


.delete{
  background-color: #e90000;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e90000 0 -3px 0 inset;
}

.delete:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.delete:active {
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}


@media screen {
  
}